.connectWallet {
  padding: 20px 40px;
  font-size: 25px;
  background: #e73f2d;
  border: 4px solid #fff;
  border-radius: 40px;
  color: #fff;
  font-weight: 800;
}
.connectWallet:hover {
  color: #e73f2d;
  background: #fff;
}
